<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.edu.mapper.FaqMapper">
	
	<select id="faqList" parameterType="com.kt.edu.domain.faq.FaqVO" resultType="org.json.simple.JSONObject"> 
		<!-- <include refid="com.kt.sbiz.mapper.CommonMapper.pagingTop"/> -->
			SELECT 
				id
				, title
				, category
				, action
				, service
				, user_type
			FROM 
				tb_faq
			WHERE
				user_type = #{userType}
		<!-- <include refid="com.kt.sbiz.mapper.CommonMapper.pagingBottom"/> -->
	</select>
	
	<!-- 	<select id="noticeListCnt" 
			parameterType="com.kt.sbiz.domain.mypage.NoticeVO" resultType="org.json.simple.JSONObject">
	WITH LIST AS (
		SELECT *
		FROM tb_notice where display_yn='Y'
	)
	SELECT 
		(
			SELECT COUNT(*)
			FROM LIST
		) AS SCH_COUNT
		, (
			SELECT 
				COUNT(*)
			FROM
				tb_notice
			<where>
			</where>
		) AS TOTAL_CNT
	</select> -->
	
	<select id="detailFaq" parameterType="com.kt.edu.domain.faq.FaqVO" resultType="org.json.simple.JSONObject"> 
		SELECT 
				id
				, title
				, category
				, action
				, service
				, user_type
			FROM 
				tb_faq
			WHERE
				id = #{id}
	</select>
	
	<insert id="insertFaq" parameterType="com.kt.edu.domain.faq.FaqVO">
		INSERT INTO
			tb_faq 
			(
				title
				, category
				, action
				, service
				, user_type
			) 
			values 
			(
				#{title}
				, #{category}
				, #{action}
				, #{service}
				, #{userType}
			)
	</insert>
	
	<update id="updateFaq" parameterType="com.kt.edu.domain.faq.FaqVO">
		UPDATE 
			tb_faq
		SET
			title 		= 		#{title}
			, category 	= 		#{category}
			, action 	= 		#{action}
			, service 	= 		#{service}
			, user_type = 		#{userType}
		WHERE
			id = #{id}
	</update>
	
	<delete id="deleteFaq" parameterType="com.kt.edu.domain.faq.FaqVO">
		DELETE FROM 
			tb_faq
		WHERE
			id = #{id}
	</delete>
	
	
</mapper>